{% extends "base.html" %} {% block content %}
<h2>{{ section.title }}</h2>
{% for page in paginator.pages %}
<p>
    {{ page.date }} -
    <a href="{{ page.permalink | safe }}" class="blk">{{ page.title }}</a>
</p>
{% endfor %}

<p class="pagination">
    {% if paginator.previous %}
    <a class="previous blk" href="{{ paginator.previous }}" style="float: left">‹ Previous</a>
    {% endif %} {% if paginator.next %}  
    <a class="next blk" href="{{ paginator.next }}" style="float: right">Next ›</a>
    {% endif %}
</p>
{% endblock content %}


