{% extends "base.html" %} {% block content %}
<h2>Hi I'm Brian</h2>
<p>
I am a universal life minister and a kaballah practitioner. I work with the tarot along with various rituals of kaballistic and planetary rituals to address your problems as a zoom based live streaming tarot reading. Tarot is always the first resort because it may point to a set of practical actions that can get results more rapidly than with ritual intervention. 
</p>
<p>
Fill out the form to request a reading over zoom.
</p>
{% endblock content %}
